wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://service.ifmo.ru/"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SculptureService"
             targetNamespace="http://service.ifmo.ru/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.ifmo.ru/"
                        schemaLocation="http://localhost:8081/SculptureService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://service.ifmo.ru"
                        schemaLocation="http://localhost:8081/SculptureService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="getAllSculptures">
        <part element="tns:getAllSculptures" name="parameters"/>
    </message>
    <message name="getAllSculpturesResponse">
        <part element="tns:getAllSculpturesResponse" name="parameters"/>
    </message>
    <message name="findSculptures">
        <part element="tns:findSculptures" name="parameters"/>
    </message>
    <message name="findSculpturesResponse">
        <part element="tns:findSculpturesResponse" name="parameters"/>
    </message>
    <message name="IllegalQException">
        <part element="tns:IllegalQException" name="fault"/>
    </message>
    <message name="deleteSculpture">
        <part element="tns:deleteSculpture" name="parameters"/>
    </message>
    <message name="deleteSculptureResponse">
        <part element="tns:deleteSculptureResponse" name="parameters"/>
    </message>
    <message name="InvalidEntityException">
        <part element="tns:InvalidEntityException" name="fault"/>
    </message>
    <message name="IllegalIdException">
        <part element="tns:IllegalIdException" name="fault"/>
    </message>
    <message name="updateSculpture">
        <part element="tns:updateSculpture" name="parameters"/>
    </message>
    <message name="updateSculptureResponse">
        <part element="tns:updateSculptureResponse" name="parameters"/>
    </message>
    <message name="createSculpture">
        <part element="tns:createSculpture" name="parameters"/>
    </message>
    <message name="createSculptureResponse">
        <part element="tns:createSculptureResponse" name="parameters"/>
    </message>
    <message name="InsertingException">
        <part element="tns:InsertingException" name="fault"/>
    </message>
    <message name="InvalidCreatingParametersException">
        <part element="tns:InvalidCreatingParametersException" name="fault"/>
    </message>
    <portType name="SculptureWebService">
        <operation name="getAllSculptures">
            <input message="tns:getAllSculptures"/>
            <output message="tns:getAllSculpturesResponse"/>
        </operation>
        <operation name="findSculptures">
            <input message="tns:findSculptures"/>
            <output message="tns:findSculpturesResponse"/>
            <fault message="tns:IllegalQException" name="IllegalQException"/>
        </operation>
        <operation name="deleteSculpture">
            <input message="tns:deleteSculpture"/>
            <output message="tns:deleteSculptureResponse"/>
            <fault message="tns:InvalidEntityException" name="InvalidEntityException"/>
            <fault message="tns:IllegalIdException" name="IllegalIdException"/>
        </operation>
        <operation name="updateSculpture">
            <input message="tns:updateSculpture"/>
            <output message="tns:updateSculptureResponse"/>
            <fault message="tns:IllegalQException" name="IllegalQException"/>
            <fault message="tns:IllegalIdException" name="IllegalIdException"/>
            <fault message="tns:InvalidEntityException" name="InvalidEntityException"/>
        </operation>
        <operation name="createSculpture">
            <input message="tns:createSculpture"/>
            <output message="tns:createSculptureResponse"/>
            <fault message="tns:InsertingException" name="InsertingException"/>
            <fault message="tns:InvalidCreatingParametersException" name="InvalidCreatingParametersException"/>
        </operation>
    </portType>
    <binding name="SculptureWebServicePortBinding" type="tns:SculptureWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAllSculptures">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findSculptures">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IllegalQException">
                <soap:fault name="IllegalQException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteSculpture">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidEntityException">
                <soap:fault name="InvalidEntityException" use="literal"/>
            </fault>
            <fault name="IllegalIdException">
                <soap:fault name="IllegalIdException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateSculpture">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="IllegalQException">
                <soap:fault name="IllegalQException" use="literal"/>
            </fault>
            <fault name="IllegalIdException">
                <soap:fault name="IllegalIdException" use="literal"/>
            </fault>
            <fault name="InvalidEntityException">
                <soap:fault name="InvalidEntityException" use="literal"/>
            </fault>
        </operation>
        <operation name="createSculpture">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InsertingException">
                <soap:fault name="InsertingException" use="literal"/>
            </fault>
            <fault name="InvalidCreatingParametersException">
                <soap:fault name="InvalidCreatingParametersException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SculptureService">
        <port binding="tns:SculptureWebServicePortBinding" name="SculptureWebServicePort">
            <soap:address location="http://localhost:8081/SculptureService"/>
        </port>
    </service>
</definitions>